app-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 870px) {
  app-main {
    flex-direction: column;
  }
}
