mat-grid-list {
  padding-bottom: 0px !important;
  width: 345px;
  height: 345px;
}
@media (min-width: 870px) {
  mat-grid-list {
    width: 600px;
    height: 600px;
  }
}

mat-grid-tile {
  background: rgb(243, 242, 241);
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  padding: 0px;
  border: 0px;
}
